@import 'fonts.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none !important;
}

:root {
    --white-color: #FFFFFF;
    --black-color: #03101A;
    --lato-bold: 'lato-bold';
    --lato-medium: 'lato-medium';
    --lato-regular: 'lato-regular';
    --lato-semibold: 'lato-semibold';
    --work-bold: 'worksans-bold';
    --work-medium: 'worksans-medium';
}

body {
    background: #E5E5E5;
}

.container {
    max-width: 1130px;
    width: 100%;
    margin: 0 auto;
}

/* HEADER START */

.header {
    background: #1F98F0;
}

.header__nav {
    display: flex;
    justify-content: space-between;
}

.header__list {
    display: flex;
    align-items: center;
}

.list-link {
    margin-top: 50px;
}

.header__list-span {
    display: inline-block;
}

.header__list-links {
    margin-left: 50px;
    font-size: 16px;
    line-height: 150%;
    font-family: var(--work-medium);
    color: var(--white-color);
    display: inline-block;
}

.header__list-logo {
    font-size: 30.95px;
    line-height: 37px;
    font-family: var(--work-bold);
    color: var(--white-color);
}

.header__list-links:hover {
    font-size: 16px;
    line-height: 150%;
    font-family: var(--work-bold);
}


.header__btn-link {
    font-size: 18px;
    line-height: 22px;
    font-family: var(--lato-regular);
    color: var(--black-color);
    background: var(--white-color);
    padding: 15px 30px;
    border-radius: 10px;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}

.header__content-right {
    max-width: 500px;
    width: 100%;
}

.header__content-title {
    font-size: 51px;
    line-height: 130%;
    color: var(--white-color);
    font-family: var(--work-bold);
}

.header__content-description {
    padding-top: 30px;
    padding-bottom: 50px;
    font-size: 20px;
    line-height: 150%;
    color: var(--white-color);
    font-family: var(--lato-regular);
}

.header__content-left {
    position: relative;
    z-index: 1;
    margin-bottom: 100px;
}

.header__circle {
    width: 50px;
    height: 50px;
    position: absolute;
    background: var(--white-color);
    border-radius: 50%;
    z-index: 0;
    bottom: -10px;
    left: 125px;
}

.header__images2 {
    position: absolute;
    z-index: -1;
    top: 60px;
    right: -114px;
}

.header__shape2 {
    position: absolute;
    top: -10px;
    right: -210px;
}

.header__shape1 {
    position: absolute;
    bottom: -75px;
    right: 155px;
}

/* HEADER END */

/* MAIN START */


.main__about-title {
    font-size: 21.4632px;
    line-height: 26px;
    font-family: var(--lato-regular);
    color: var(--black-color);
    margin-top: 65px;
}

.main__about-logos {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}

.main__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 120px;
}


.main__content-title {
    font-size: 38px;
    line-height: 46px;
    font-family: var(--lato-regular);
    color: var(--black-color);
}

.main__feature-title {
    font-size: 21px;
    line-height: 25px;
    font-family: var(--lato-regular);
    color: var(--black-color);
}

.main__feature-description {
    font-size: 16px;
    line-height: 150%;
    font-family: var(--lato-regular);
    color: var(--black-color);
    margin-top: 20px;
}

.main__content-right {
    position: relative;
    z-index: 1;
}

.main__content-img1 {
    position: absolute;
    z-index: -1;
    left: -175px;
}

.main__content-img2 {
    outline: 10px solid #E5E5E5;
    /* border-radius: 60px; */
}

.main__content-img3 {
    position: absolute;
    z-index: -1;
    bottom: -250px;
    left: -110px;
}

.main__content-shape1 {
    position: absolute;
    z-index: 0;
    top: 375px;
    left: 283px;
}

.main__content-shape2 {
    position: absolute;
    z-index: 0;
    left: 305px;
    top: 375px;
}

.main__content-shape3 {
    position: absolute;
    z-index: 0;
    top: 360px;
    left: 305px;
}

.main__content-shape4 {
    position: absolute;
    z-index: 0;
    left: 291px;
    top: 354px;
}

.main__features-item {
    margin-top: 85px;
}

.main__feature-items {
    display: flex;
    max-width: 570px;
    width: 100%;
    margin-top: 50px;
}

.main__features {
    margin-left: 30px;
}

.main__feature-img {
    position: relative;
    z-index: 1;
}

.main__feature-shape {
    position: absolute;
    z-index: -1;
}

.main__test,
.main__news-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}

.main__test-title,
.main__news-title {
    text-align: center;
    font-size: 38px;
    line-height: 46px;
    font-family: var(--lato-bold);
    color: var(--black-color);
    margin-top: 80px;
}

.main__tests-title {
    font-size: 21px;
    line-height: 25px;
    font-family: var(--lato-regular);
    color: var(--black-color);
    margin-top: 20px;
    text-align: center;
}

.main__test-description {
    font-size: 16px;
    line-height: 150%;
    font-family: var(--lato-regular);
    color: var(--black-color);
    margin-top: 20px;
    text-align: center;
}

.main__test-items {
    max-width: 260px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__prelast-part {
    background: #1F98F0;
    margin-top: 80px;
}

.main__news-item {
    margin-right: 30px;
}

.main__btn-link {
    font-size: 18px;
    line-height: 22px;
    font-family: var(--lato-regular);
    color: #1F98F0;
    background: var(--white-color);
    padding: 15px 30px;
    border-radius: 10px;
}

.main__food-title {
    font-size: 38px;
    line-height: 46px;
    font-family: var(--lato-bold);
    color: var(--white-color);
    padding: 110px 0;
}

.main__food {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__news-titles {
    font-size: 28px;
    line-height: 34px;
    color: var(--black-color);
    font-family: var(--lato-regular);
    padding-top: 25px;
}

.main__news-description {
    text-align: justify;
    font-size: 16px;
    line-height: 150%;
    font-family: var(--lato-regular);
    color: #6D7073;
    opacity: 0.7;
    padding-top: 15px;
    padding-bottom: 30px;
}

.main__news-link {
    font-size: 18px;
    line-height: 150%;
    color: #1F98F0;
    font-family: var(--lato-regular);
}

/* MAIN END */

/* FOOTER START */
.footer__about {
    background: var(--black-color);
}
.footer{
    margin-top: 100px;
}

.footer__about-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__about-title {
    color: var(--white-color);
    margin-top: -70px;
    font-size: 30.95px;
    line-height: 37px;
    font-family: var(--lato-regular);
}

.footer__about-description,
.footer__about-links {
    color: var(--white-color);
    font-size: 16px;
    line-height: 150%;
    font-family: var(--lato-regular);
    opacity: 0.7;
    margin-top: 35px;
    max-width: 325px;
    width: 100%;
}

.list {
    margin-top: 15px;
}
.footer__about-btns{
    display: flex;
}

.footer__about-link {
    color: var(--white-color);
    margin-top: 100px;
    margin-bottom: 35px;
    font-size: 21px;
    line-height: 25px;
    font-family: var(--lato-regular);
}

.footer__about-btn1 {
    width: 230px;
    text-align: left;
    background: #FFFFFF;
    font-size: 14px;
    line-height: 150%;
    color: var(--black-color);
    font-family: var(--lato-regular);
    padding: 12px;
    border: none;
}
.footer__about-btn2 {
    max-width: 130px;
    width: 100%;
    background: #1F98F0;
    font-size: 14px;
    line-height: 150%;
    color: var(--white-color);
    font-family: var(--lato-regular);
    padding: 12px;
    border: none;
}
.footer__about-list{
    margin-top: 35px;
    margin-bottom: 100px;
}

/* FOOTER END */